body {
	margin: 0;
}

li {
	text-align: end;
	list-style: none;
}

.left a {
	color: #9a9a9a;
}

.left a:hover {
	color: #fff;
}

.content {
	font-family: 'Roboto', sans-serif;
	max-width: 70rem;
	display: flex;
	margin: 0 auto;
	font-weight: 200;
	line-height: 24px;
}

.left, .right {

}

.left {
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	background-color: #03222C;
	color: #ffffff;
	min-width: 270px;

}

.right {
	border-left: 1px solid #000;
	padding-left: 30px;
	padding-bottom: 50px;
}

.photo {
	background-image: url("../profile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	border: solid #f00 3px;
	margin-bottom: 10px;
}

.name {
	font-family: 'Roboto', sans-serif;
	margin: 5px 0;
}

.job-title {
	font-weight: 200;
	color: #9a9a9a;
}

.profile {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.job {
	padding-bottom: 10px;
}

.contacts li span {
	margin-right: 10px;
}

.left li {
	color: #9a9a9a;
}

.section-header__text {
	margin: 0 15px 0 0;
	white-space: nowrap;
	font-weight: 500;
}

.section-header__line {
	height: 3px;
	background-color: red;
	width: 100%;
}

.section-header__bullet {
	margin-right: 10px;
	color: red;
}

.section-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0;

}

.copyright{
	margin-top: auto;
}

.legal{
	text-align: center;
}

.social {
	font-size: 1.75em;
	display: flex;
	justify-content: center;
}
.social i{
	margin-right: 20px;
	margin-bottom: 10px;
}

@media only print {
	body {
		font-size: 14px;
	}

	ul {
		padding-left: 0;
	}

	p {
		margin-block-end: 0.5em;
		margin-block-start: 0;
	}

	.section-header {
		margin: 10px 0;
	}

	.content {
		padding: 10px;
		font-weight: 200;
		line-height: 14px;
		max-width: 100%;
	}

	.photo {
		width: 13rem;
	}

	.left {
		padding: 0 20px 0 0;
		background-color: #fff;
		min-width: 200px;
	}

	.left li, .left a, .job-title, .left {
		color: #000;
	}

	.photo {
		border-radius: 0;
		border: none;
		height: 19rem;
	}

	.right {
		/*padding: 0;*/
		/*width: calc(100% - 18.5rem);*/
		padding-left: 10px;
		padding-bottom: 0;

	}
}